{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

<label for="region">Choose a region:</label>
<select name="regions" id="regions" onchange="country()">
  <option value="Dubai">Dubai</option>
  <option value="Abu Dhabi">Abu Dhabi</option>
  <option value="Sharjah">Sharjah</option>
</select>

<div style="width:300px; clear:both;">
  <p>
    <label for="date">Pick a delivery date:</label>
    <input id="date" type="text" name="attributes[date]" value="{{ cart.attributes.date }}" />
    <span style="display:block" class="instructions"> We do not deliver during the week-end.</span>
  </p>
</div>

<script>
  function country() {
    var count = document.getElementById("regions");
    var result = count.value;

    const currentdate = new Date();
    let hour = currentdate.getHours();
    let min = currentdate.getMinutes();

    if (result === 'Dubai') {
      if (hour < 13 || (hour === 13 && min < 30)) {
        $('#date').datepicker('option', 'minDate', 0);
      } else {
        $('#date').datepicker('option', 'minDate', 1);
      }
    } else {
      $('#date').datepicker('option', 'minDate', 1);
    }
  }

  window.onload = function () {
    if (window.jQuery) {
      let $ = window.jQuery;

      $(function () {
        $("#date").datepicker({
          minDate: +1,
          maxDate: '+2M',
          beforeShowDay: $.datepicker.noWeekends
        });
      });
    }
  }
</script>